
.navBar {
    background-color: rgb(185, 185, 185);
    background-blend-mode: lighten;
}

.navContent {
    font-family: Cambria;
    font-size: small;
    display: inline;  
}

.NavLink {
    padding-left: 30%;
    padding-right: 30%;
    display: inline;
}
